.cards-with-icon {
  .cards {
    margin-top: 25px;

    .row {
      width: calc(100% + 20px);
      margin-left: -10px;
    }
  }

  .card {
    border-radius: 8px;
    background: $purple;
    padding: 30px;
    margin: 20px 10px 0;

    &__icon {
      max-width: 80px;
      height: 80px;
      margin: 0 auto;

      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }
    &__content {
      margin-top: 20px;
      color: $white;

      p {
        margin-top: 15px;

        @include line-clamp(4);
      }
    }
  }
}