.portfolio-template { 
  background: radial-gradient(68.67% 120.96% at 34.51% -5.32%, rgba(96, 97, 99, 0.9) 0%, #212121 100%);

  /* Navigation */
  header {
    padding-top: 40px;

    .row {
      align-items: center;
      justify-content: space-between;
    }
  }
  .site-logo {
    max-width: 100px;

    a {
      font-size: 24px;
      color: $white;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  nav {
    ul {
      font-size: 0;
      
      li {
        display: inline-block;
        &:not(:last-child) {
          margin-right: 60px;
        }
      }
    }
  }

  .nav-links {
    color: $white;
    text-transform: uppercase;
  }

  /* Hero Banner */
  .banner-hero {
    &__content {
      text-align: center;
      padding: 100px 0;
      max-width: 800px;
      margin: 0 auto;
      color: $white;
      text-transform: uppercase;

      span {
        font-size: 20px;
        letter-spacing: 3.2px;
        font-weight: 300;
        display: inline-block;
      }

      h1 {
        font-size: 200px;
        font-weight: bold;
      }

      &-description {
        padding-left: 190px;
      }

      &-eyebrow-text {
        padding-right: 160px;
      }
    }
  }


  /* Footer */
  footer {
    padding: 100px 0;  
  }

  .social-links {
    max-width: 100px;

    ul {
      padding-left: 0;
    }
  }

  .social-icon {
    width: 28px;
    height: 28px;
    &:not(:first-child) {
      margin-top: 16px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}