#archives {
  .archive-content {
    display: flex;
    .archive-template-section {
      display: flex;
      flex-direction: column;
      padding: 12px 6px;
      &:nth-child(even) {
        background-color: red;
      }

      .template-archive-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        margin: 12px 0;
      }
      .template-archive-cell {
        width: 25%;
      }
    }
  }
}
