@import '../abstracts/variables';

//** Padding Classes
.padding-lg {
  padding: $spacing-lg / 2 0 !important;
  @include new-desktop {
    padding: 146px 0 !important;
  }
  @include new-tablet {
    padding: 116px 0 !important;
  }
  @include new-phablet {
    padding: 100px 0 !important;
  }
  @include new-mobile {
    padding: 100px 0 !important;
  }
}

.padding-top-lg {
  padding-top: $spacing-lg / 2 !important;
  @include new-desktop {
    padding-top: 146px !important;
  }
  @include new-tablet {
    padding-top: 116px !important;
  }
  @include new-phablet {
    padding-top: 100px !important;
  }
  @include new-mobile {
    padding-top: 100px !important;
  }
}

.padding-bottom-lg {
  padding-bottom: $spacing-lg / 2 !important;
  @include new-desktop {
    padding-bottom: 146px !important;
  }
  @include new-tablet {
    padding-bottom: 116px !important;
  }
  @include new-phablet {
    padding-bottom: 100px !important;
  }
  @include new-mobile {
    padding-bottom: 100px !important;
  }
}

.padding-md {
  padding: $spacing-md / 2 0 !important;
  @include new-desktop {
    padding: 88px 0 !important;
  }
  @include new-tablet {
    padding: 80px 0 !important;
  }
  @include new-phablet {
    padding: 72px 0 !important;
  }
  @include new-mobile {
    padding: 64px 0 !important;
  }
}

.padding-top-md {
  padding-top: $spacing-md / 2 !important;
  @include new-desktop {
    padding-top: 77px !important;
  }
  @include new-tablet {
    padding-top: 62px !important;
  }
  @include new-phablet {
    padding-top: 28px !important;
  }
  @include new-mobile {
    padding-top: 28px !important;
  }
}

.padding-bottom-md {
  padding-bottom: $spacing-md / 2 !important;
  @include new-desktop {
    padding-bottom: 77px !important;
  }
  @include new-tablet {
    padding-bottom: 124px !important;
  }
  @include new-phablet {
    padding-bottom: 56px !important;
  }
  @include new-mobile {
    padding-bottom: 56px !important;
  }
}

.padding-sm {
  padding: $spacing-sm / 2 0 !important;
  @include new-desktop {
    padding: 52px 0 !important;
  }
  @include new-tablet {
    padding: 40px 0 !important;
  }
  @include new-phablet {
    padding: 28px 0 !important;
  }
  @include new-mobile {
    padding: 28px 0 !important;
  }
}

.padding-top-sm {
  padding-top: $spacing-sm / 2 !important;
  @include new-desktop {
    padding-top: 52px !important;
  }
  @include new-tablet {
    padding-top: 40px !important;
  }
  @include new-phablet {
    padding-top: 28px !important;
  }
  @include new-mobile {
    padding-top: 28px !important;
  }
}

.padding-bottom-sm {
  padding-bottom: $spacing-sm / 2 !important;
  @include new-desktop {
    padding-bottom: 52px !important;
  }
  @include new-tablet {
    padding-bottom: 40px !important;
  }
  @include new-phablet {
    padding-bottom: 28px !important;
  }
  @include new-mobile {
    padding-bottom: 28px !important;
  }
}

.padding-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.padding-top-none {
  padding-top: 0 !important;
}

.padding-bottom-none {
  padding-bottom: 0 !important;
}

//** Text Alignment
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

//** Font size
.large {
  font-size: 38px;
  @include desktop-down {
    font-size: 34px;
  }
  @include tablet-down {
    font-size: 30px;
  }
  span {
    font-size: 38px;
    @include desktop-down {
      font-size: 34px;
    }
    @include tablet-down {
      font-size: 30px;
    }
  }
}

.medium {
  font-size: 34px;
  @include desktop-down {
    font-size: 30px;
  }
  @include tablet-down {
    font-size: 26px;
  }
  span {
    font-size: 34px;
    @include desktop-down {
      font-size: 30px;
    }
    @include tablet-down {
      font-size: 26px;
    }
  }
}

.small {
  font-size: 30px;
  @include desktop-down {
    font-size: 26px;
  }
  @include tablet-down {
    font-size: 22px;
  }
  span {
    font-size: 30px;
    @include desktop-down {
      font-size: 26px;
    }
    @include tablet-down {
      font-size: 22px;
    }
  }
}

.scroll-reveal {
  opacity: 0;

  &.is-revealed {
    opacity: 1;
  }
}

.full-row {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}

.no-border {
  border: none !important;
  &::before,
  &::after {
    display: none;
  }
}

//** Empty links
.empty-link {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  font-size: 0;
  opacity: 0;
  z-index: 3;
}

//** Empty label
.empty-label {
  color: transparent;
  font-size: 0;
  opacity: 0;
  position: absolute;
}

.bg-transparent {
  background: transparent;
}

//** Slick
.slick-slider {
  opacity: 0;

  &.slick-initialized {
    opacity: 1 !important;
  }
}

.slick-dots {
  padding: 0;
  text-align: center;
  font-size: 0;
  margin-top: 10px;
  li {
    display: inline-block;
    vertical-align: top;
    margin: 0 12px;
    @include tablet-down {
      margin: 0 7px;
    }
    &.slick-active {
      button {
        background-color: $purpleish-pink;
        border: solid 1px $purpleish-pink;
        &:before {
          opacity: 1;
        }
      }
    }
    button {
      cursor: pointer;
      font-size: 0;
      width: 16px;
      height: 16px;
      border: solid 1px $black;
      background-color: $white;
      position: relative;
      border-radius: 50%;
      transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
      @include tablet-down{
        width: 10px;
        height: 10px;
      }
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 23px;
        height: 23px;
        opacity: 0;
        border-radius: 50%;
        border: solid 1px $purpleish-pink;
        transition: opacity 0.3s ease-in-out;
        transform: translate(-50%, -50%);
        @include tablet-down{
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

.default-slick {
  width: calc(100% - 40px) !important;
  margin-left: auto !important;
  margin-right: auto !important;

  @include new-mobile {
    width: calc(100% - 30px) !important;
  }
}

//** Heading
%heading {
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 1.6px;
  display: inline-block;
  text-transform: uppercase;
  @include container-down {
    line-height: 2;
  }
  @include tablet-down {
    font-size: 14px;
  }
}

.heading {
  color: $white;
  @extend %heading;

  &-aqua-marine {
    color: $aqua-marine;
    @extend %heading;
  }

  &-soft-blue {
    color: $soft-blue;
    @extend %heading;
  }
}
//** Overlay
.dark-overlay {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
}
