.testimonial-card {
  $self: &;
  padding: 0 30px;
  text-align: center;

  &__logo {
    max-width: 250px;
    height: 150px;
    margin: 0 auto;

    img {
      height: 100%;
      object-fit: contain;
    }
  }
}
