.footer {
  position: relative;
  border-top: 2px solid $black;
  padding: 20px 0;
  
  .row {
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    max-width: 130px;
    height: 60px;

    img {
      height: 100%;
      object-fit: contain;
    }
  }
}