<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio main Page</title>
    <link rel="stylesheet" href="../dist/styles/global.css">
    <link rel="stylesheet" href="../dist/styles/main.css">
    <script src="../dist/scripts/global.js" defer></script>
    <script src="../bower_components/requirejs/require.js" defer></script>
    <script src="../dist/scripts/main.js" defer></script>
  </head>

  <body class="portfolio-template">
    <header>
      <div class="container container--large">
        <div class="row">
          <div class="site-logo">
            <a href="/templates/index.html">
              Logo
            </a>
          </div>
          <nav>
            <ul>
              <li><a class="nav-links" href="/">Projects</a></li>
              <li><a class="nav-links" href="/">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <sectiom class="col-two-form">
      <div class="container">
        <div class="row">
          <div class="col-two">
            <h2>Contact</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Mauris et nisi varius, ullamcorper sapien et, aliquam mauris.Morbi eu hendrerit massa. Fusce in ex et metus laoreet. </p>
            <div class="info">
              <h5>address</h5>
              <p>Lorem ipsum dolor sit amet, consectetur</p>
            </div>
            <div class="info">
              <h5>Phone</h5>
              <a href="tel:8968743757"> +91 8968743757</a>
            </div>
            <div class="info">
              <h5>Email</h5>
              <a href="mailto:dev.chandershekhar@gmail.com">dev.chandershekhar@gmail.com</a>
            </div>
          </div>
          <div class="col-two">
            <div class="form-wrap">
              <h2>Contact Form</h2>
              <form>
                <div class="form-group">
                  <input type="text" class="form-control"  aria-describedby="name" placeholder="Your name">
                </div>
                <div class="form-group">
                  <input type="number" class="form-control" placeholder="Your phone">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Your email">
                </div>
                <div class="form-group">
                  <textarea name="message" cols="10" rows="10" placeholder="Message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send Message</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </sectiom>
    <footer>
      <div class="container container--large">
        <div class="social-links">
          <ul>
            <li class="social-icon"><a href="/"><img src="/dist/images/icons/facebook-icon.svg" alt="facebook Icon" /></a></li>
            <li class="social-icon"><a href="/"><img src="/dist/images/icons/twitter-icon.svg" alt="twitter Icon" /></a></li>
            <li class="social-icon"><a href="/"><img src="/dist/images/icons/instagram-icon.svg" alt="instagram Icon" /></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>

</html>