<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A simple Gulp setup using the AMD modules">
  <title>Automated Workflow with Gulp</title>
  <link rel="preload" href="../dist/styles/plugins.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" href="../dist/styles/main.css"as="style" onload="this.onload=null;this.rel='stylesheet'">
  <!-- <script src="../src/require.min.js" defer></script> -->
  <!-- <script src="../dist/scripts/jquery.js" defer></script> -->
  <!-- <script src="../dist/scripts/dependencies.js" defer></script> -->
  <script src="../dist/scripts/plugins.js" defer></script>
  <script src="../dist/scripts/main.js" defer></script>
</head>
<body>
  <h1>Hello there!</h1>
  <h2>Let's Gulp the sweet juice..</h2>
</body>
</html>